---
import Layout from "../layouts/Layout.astro";
import Eventheader from "../components/Eventheader.astro";
import Eventtext from "../components/Eventtext.astro";
import Events from "../components/Events.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <Layout>
      <Eventheader />
      <Eventtext />
      <Events />
    </Layout>
  </body>
</html>
