---

---
<div class="indhold">
<section class="card">
  <div class="grid-1_1">
    <img class="billed1" src="/Hero2.webp" alt="Drejer vase" />
    <div class="text">
      <h2>August 2nd</h2>
      <p>Join us on August 2nd for a special event featuring the exclusive ceramic vases of Ditte Lindberg Mortensen. This is a unique opportunity to experience Ditte’s craftsmanship and purchase her one-of-a-kind vases, available only at this event. The event will offer an intimate setting where attendees can connect with Ditte, learn about her creative process, and acquire these exquisite, handcrafted works of art.</p>
    </div>
  </div>
</section>
<section class="card">
  <div class="grid-1_1">
    <img src="/Hero3.webp" alt="Vaser" />
    <div class="text">
      <h2>December 6th</h2>
      <p>Save the date for an event with Ditte Lindberg Mortensen on December 6th! More details about this special occasion will be shared closer to the date. Stay tuned for updates, as we reveal more about Ditte's unique handcrafted vases and the opportunity to purchase her one-of-a-kind pieces. For the latest news and event information, be sure to follow Ditte Lindberg Mortensen on Instagram.</p>
    </div>
  </div>
</section>
</div>

<style>
  .card {
    background-color: #5e878c;
    margin: 20px;
    border-radius: 20px;
    margin-inline: 31px;
    padding: 30px;
  }

  img {
    width: 100%;
    border-radius: 15px;
  }
  p {
    margin: 10px;
    color: white;
    padding-bottom: 5px;
  }
  h2 {
    margin: 10px;
    color: white;
  }
  .grid-1_1 {
    display: grid;
  }
  @media (min-width: 900px) {
    .indhold{
        display: flex-wrap:;
  justify-content: center;  /* vandret */
    }
    .grid-1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    p,
    h2 {
      margin-left: 20px;
    }
    .card {
      width: 50%;
margin-inline:23%
    }
    img {
      place-self: center;
    }
    .billed1 {
      order: 1;
    }
  }
</style>
