---

---

<section class="card">
  <h2>August 2nd</h2>
  <div class="grid-1_1">
    <p>Join us on August 2nd for a special event featuring the exclusive ceramic vases of Ditte Lindberg Mortensen. This is a unique opportunity to experience Ditte’s craftsmanship and purchase her one-of-a-kind vases, available only at this event. The event will offer an intimate setting where attendees can connect with Ditte, learn about her creative process, and acquire these exquisite, handcrafted works of art.</p>
    <img src="/Hero2.webp" alt="Drejer vase" />
  </div>
</section>
<section class="card">
  <h2>December 6th</h2>
  <div class="grid-1_1">
    <p>Save the date for an event with Ditte Lindberg Mortensen on December 6th! More details about this special occasion will be shared closer to the date. Stay tuned for updates, as we reveal more about Ditte's unique handcrafted vases and the opportunity to purchase her one-of-a-kind pieces. For the latest news and event information, be sure to follow Ditte Lindberg Mortensen on Instagram.</p>
    <img src="/Hero3.webp" alt="Vaser" />
  </div>
</section>

<style>
  .card {
    background-color: #5e878c;
    margin: 20px;
    border-radius: 20px;
    margin-top: 50px;
  }
  img {
    width: 230px;
    border-radius: 15px;
    margin-top: 10px;
    place-self: center;
    margin-bottom: 15px;
  }
  p {
    margin: 10px;
    color: white;
    padding-bottom: 5px;
  }
  h2 {
    padding-top: 16px;
    margin: 10px;
    color: white;
  }
  .grid-1_1 {
    display: grid;
  }
  @media (min-width: 601px) {
    .grid-1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    img {
      margin-left: 30px;
      margin-bottom: 30px;
      width: 310px;
    }
    p,
    h2 {
      margin: 20px;
    }
  }

  @media (min-width: 1024px) and (max-width: 1500px) {
    .grid-1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .card {
      margin: 50px;
      width: 781px;
      padding-inline: 30px;
      border-radius: 20px;
      margin-top: 40px;
      padding-bottom: 32px;
      place-self: center;
    }
    img {
      width: 310px;
      border-radius: 15px;
      margin-top: 10px;
      place-self: center;
    }
    p {
      place-self: center;
    }
  }
</style>
