---
import Layout from "../layouts/Layout.astro";
---

<footer>
  <div class="indhold">
    <div><img src="/logo.svg" alt="logo" /></div>

    <div class="adresse">
      <p class="fed">Address</p>
      <a href="https://www.google.com/maps?q=Stjernegade+16,+3000+Helsingør,+Danmark" target="_blank"> Stjernegade 16, 3000 Helsingør, Danmark </a>
    </div>

    <div>
      <p class="fed">Contact</p>
      <p>+45 27 82 99 60</p>
      <a href="mailto:dittelindmor@gmail.com">dittelindmor@gmail.com</a>
      <div class="ikoner">
        <a href="https://www.instagram.com/ditte_lindberg_mortensen/">
          <img class="ikon" src="/insta.svg" alt="Instagram" />
        </a>
        <a href="https://www.facebook.com/profile.php?id=100053814079343&locale=da_DK">
          <img class="ikon" src="/facebook.svg" alt="Facebook" />
        </a>
      </div>
    </div>
  </div>
</footer>

<style>
  footer {
    position: relative;
    overflow: hidden;
    background-color: #c7d9da;
    background-image: url("/prikker.svg");
    background-position: 196px -10px;
    background-repeat: no-repeat;
    background-size: 690px 530px;
  }

  .indhold {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  img {
    width: 50%;
    margin-top: 2rem;
  }

  .adresse {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .fed {
    font-weight: bold;
  }

  .indhold {
    padding: 2rem;
  }

  a {
    font-family: Shippori Mincho;
    color: #26313d;
    font-weight: 100;
    font-size: 1rem;
  }

  .ikoner {
    display: flex;
    gap: 15px; /* ✅ her virker det */
  }

  .ikon {
    width: 40px;
    display: block; /* eller inline-block */
  }

  @media (min-width: 900px) {
    .indhold {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: start;
      gap: 1rem;
    }

    img {
      width: 100%;
      margin-top: 1.5rem;
      align-items: center;
    }

    footer {
      background-position: -30px -8px;
      background-size: 547px 400px;
    }

    .ikon {
      width: 50px;
    }

    .adresse {
      margin-top: 0rem;
    }
  }
</style>
