---
import Layout from "../layouts/Layout.astro";
---

<article>
  <div class="firkant">
    <div class="to_sider">
      <img src="/forside-produkt.webp" alt="forside_image" />

      <div class="tekstblok">
        <h2 class="hvid">Products</h2>
        <p class="hvid">All of Ditte Lindberg Mortensen’s vases er handmade in her studio in Helsingør, Denmark. Each design is unique and none of the vases are the same. Ditte Lindberg Mortensen makes an effort in adding her personal touch to each of her designs, and this is clearly evident in her beautiful vases.</p>
        <div class="center_knap">
          <a href="/cardspage" class="secondarybutton">See more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="firkant">
    <div class="to_sider reverse">
      <img src="/forside-event.webp" alt="forside_image" />

      <div class="tekstblok">
        <h2 class="hvid">Events</h2>
        <p class="hvid">Everyone is welcome to Ditte Lindberg Mortensen’s events, where her exclusive vases can only be purchased at these occasions. Each event draws significant attention and has become a popular attraction.</p>
        <div class="center_knap">
          <a href="/event" class="secondarybutton">View event</a>
        </div>
      </div>
    </div>
  </div>

  <div class="firkant">
    <div class="to_sider">
      <img src="/forside-om.webp" alt="forside_image" />

      <div class="tekstblok">
        <h2 class="hvid">About Ditte Lindberg Mortensen</h2>
        <p class="hvid">Ditte Lindberg Mortensen is a 29-year-old ceramicist based in Helsingør, Denmark. Throughout her life, ceramics has played a significant role, and she has always been drawn to the tactile nature of the material.</p>
        <div class="center_knap">
          <a href="/about" class="secondarybutton">See more</a>
        </div>
      </div>
    </div>
  </div>
</article>

<style>
  img {
    width: 100%;
    border-radius: 15px;
  }

  .firkant {
    background-color: #5e878c;
    padding: 2rem;
    gap: 10px;
    margin-bottom: 1rem;
    margin: 2rem;
    border-radius: 20px;
  }

  article {
    margin-top: 8rem;
  }

  .hvid {
    color: #ffffff;
  }

  .secondarybutton {
    font-family: Shippori Mincho;
    background-color: #26313d;
    color: #ffff;
    text-decoration: none;
    border: solid #c7d9da;
    padding: 3px;
    font-size: 1.5rem;
    padding-inline: 1rem;
    margin-bottom: 4rem;
  }

  .secondarybutton:hover {
    background-color: #c7d9da;
    color: #26313d;
    border: solid #26313d;
  }

  .center_knap {
    text-align: center;
    margin-top: 2rem;
  }

  @media (min-width: 900px) {
    .firkant {
      border-radius: 20px;
      padding: 30px;
      margin-left: 10rem;
      margin-right: 10rem;
      margin-bottom: 3rem;
    }

    .to_sider {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
      padding: 1rem;
      align-items: start;
    }

    .to_sider.reverse div:nth-child(1) {
      grid-column: 2;
      grid-row: 1;
    }

    .to_sider.reverse div:nth-child(2) {
      grid-column: 1;
      grid-row: 1;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .tekstblok {
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .center_knap {
      text-align: left;
      margin-top: auto;
    }
  }
</style>
