---

---

<h1>About Ditte Lindberg Mortensen</h1>
<section class="card">
  <div class="grid-1-1">
    <img class="billede" src="/om.webp" alt="Billede af Ditte" />
    <p>Ditte Lindberg Mortensen, a 29-year-old ceramicist from Helsingør, Denmark, grew up in a creative, large family where she was encouraged to pursue her passions—whether that was mechanics or working with clay.<br /><br /> Her grandfather, a ceramist with a shop in Helsingør, greatly influenced her artistic path. Ditte studied ceramics at a folk high school on Bornholm, further developing her craft. She values the process of creating art, believing the journey should be visible in the final piece. Inspired by nature, Ditte often captures images of leaves and sketches them, drawing from their shapes and textures for her ceramics.</p>
  </div>
</section>

<div class="mid_section">
  <div class="infostribe"></div>
  <section class="infoproduct"></section>
</div>

<h1>Meet Ditte</h1>

<style>
  h1 {
    text-align: center;
    margin-top: 60px;
  }

  .card {
    background-color: #5e878c;
    padding: 2rem;
    gap: 10px;
    margin-bottom: 1rem;
    margin: 2rem;
    border-radius: 20px;
  }

  img {
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
  }

  p {
    max-width: 50ch;
    padding: 0px 8px 0 0;
    color: white;
  }

  .mid_section {
    margin-top: 30px;
  }

  .infoproduct {
    background-color: #c7d9da;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .infoproduct h1 {
    padding: 0;
    margin: 0;
    justify-content: first baseline;
  }
  .infostribe {
    background-color: #5e878c;
    margin: 0;
    height: 10px;
  }

  @media (min-width: 900px) {
    h1 {
      margin-bottom: 0;
    }

    .card {
      margin-inline: 10rem;
    }

    img {
      width: 80%;
      object-fit: cover;
      margin: 30px 0px 30px 75px;
    }
    p {
      max-width: 70ch;
      padding: 20px 8px 0 30px;
      color: white;
    }

    h2 {
      margin: 0;
    }
    .grid-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    img {
      order: 1;
    }
  }
</style>
