---

---

<h1>About Ditte Lindberg Mortensen</h1>

<div class="tekst_boks">
  <p>
    Ditte Lindberg Mortensen, a 29-year-old ceramicist from Helsingør, Denmark, grew up in a creative family. Her grandfather, a ceramist with a shop in town, inspired her artistic journey. Ditte studied ceramics on Bornholm, where she honed her craft. <br />
    <br />
    She values the process of creation and is inspired by nature, often using photos of leaves and their textures in her work.
  </p>
  <img src="/om_Ditte_billede.webp" alt="Billede af Ditte" />
</div>
<div class="mid_section">
  <div class="infostribe"></div>
  <section class="infoproduct"></section>
</div>

<h1>Meet Ditte</h1>

<style>
  h1 {
    text-align: center;
    margin-top: 60px;
  }

  .tekst_boks {
    width: 80%;
    margin-left: 60px;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #5e878c;
    border-radius: 20px;
  }

  .tekst_boks img {
    width: 80%;
    height: 260px;
    border-radius: 15px;
    margin: 20px 30px 28px;
    object-fit: cover;
  }

  .tekst_boks p {
    max-width: 30ch;
    padding: 17px 8px 0 23px;
    color: white;
  }

  .mid_section {
    margin-top: 30px;
  }

  .infoproduct {
    background-color: #c7d9da;
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .infoproduct h1 {
    padding: 0;
    margin: 0;
    justify-content: first baseline;
  }
  .infostribe {
    background-color: #5e878c;
    margin: 0;
    height: 10px;
  }

  video {
    padding-left: 5%;
  }

  @media (min-width: 900px) {
    .tekst_boks {
      align-content: center;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #5e878c;
      border-radius: 50px;
      width: 75%;
      margin-left: 12%;
    }

    .tekst_boks img {
      width: 70%;
      object-fit: cover;
      height: 300px;
      border-radius: 25px;
      margin: 30px 0px 30px 130px;
    }
    .tekst_boks p {
      max-width: 80ch;
      padding-left: 30%;
      padding-top: 50px;
      color: white;
    }

    video {
      padding-left: 31%;
    }
  }
</style>
